@model IEnumerable<ReservBigBird.API_Model.MonitorOrder>


@*@if(Model == null && ViewBag.error == "Tidak Dapat Respon dari Server")
    {
        <script>
            swal("Error", "Tidak Mendapat Respon dari Server, Silahkan coba lagi", "error");
            $("#divLoader").hide();
        </script>
    }*@

@if (ViewBag.value != null)
{

    <h3 class="box-title">Hasil Pencarian</h3>
    <br />
    <div class="table-responsive">

        <table id="example3" class="table table-striped">
            <thead>
                <tr style="background-color:#808080;color:#ffffff;">
                    <th>Action</th>
                    <th>No Order</th>
                    <th>No Item</th>
                    <th>STS</th>
                    <th>DISC</th>
                    <th>Jenis</th>
                    <th>POOL</th>
                    <th>KEL TUJUAN</th>
                    <th>ALAMAT JEMPUT</th>
                    <th>TGL JEMPUT</th>
                    <th>JAM JEMPUT</th>
                    <th>TGL SELESAI</th>
                    <th>JAM SELESAI</th>
                    @*<th></th>*@
                </tr>
            </thead>

        </table>
    </div>


}


@*Tampilan Popup*@
<div id="myModalPopup" class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <div id="divLoader2" style="display:none;text-align:center"> <img src="~/Content/dist/img/ajax-loader-blue.gif" alt="Loader" /> </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="JudulModal" class="modal-title" style="text-align:center">Pembayaran</h3>

            </div>

            <div class="modal-body" id="BodyModal">

                <form asp-action="CreateTaskLine">
                    @*<div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Jenis Pembayaran</label>
                            <input type="text" class="form-control" id="JenisPemby" readonly="readonly">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tarif Bus</label>
                            <input type="text" class="form-control" id="TarifBus" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Lebih Bayar</label>
                            <input type="text" class="form-control" id="LbhBayar" readonly="readonly">
                        </div>
                        <div class="form-group col-md-6">
                            <label>% Diskon</label>
                            <input type="text" class="form-control" id="Diskon" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Biaya Pembatalan</label>
                            <input type="text" class="form-control" id="BiayaPembatalan" readonly="readonly">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Rp Diskon</label>
                            <input type="text" class="form-control" id="RpDiskon" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Total Pembayaran</label>
                            <input type="text" class="form-control" id="TotalPembayaran" readonly="readonly">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Sudah Dibayar</label>
                            <input type="text" class="form-control" id="SdhDibayar" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Sisa Pembayaran</label>
                            <input type="text" class="form-control" id="SisaPembyran" readonly="readonly">
                        </div>
                        <div class="form-group col-md-6">
                            <label>PPH 23</label>
                            <input type="text" class="form-control" id="pph23" readonly="readonly">
                        </div>
                    </div>*@

                    <div class="row form-border">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <div class="col-sm-12">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <b>Jenis Pembayaran</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="JenisPemby" readonly="readonly">
                                    </div>
                                    <div class="col-sm-2">
                                        <b>Tarif Bus</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="TarifBus" readonly="readonly">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">
                                        <b>Lebih Bayar</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="LbhBayar" readonly="readonly">
                                    </div>
                                    <div class="col-sm-2">
                                        <b>% Diskon</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="Diskon" readonly="readonly">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">
                                        <b>Biaya Pembatalan</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="BiayaPembatalan" readonly="readonly">
                                    </div>
                                    <div class="col-sm-2">
                                        <b>RP Diskon</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="RpDiskon" readonly="readonly">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-2">
                                        <b>Total Pembayaran</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="TotalPembayaran" readonly="readonly">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-2">
                                        <b>Sudah Dibayar</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="SdhDibayar" readonly="readonly">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-2">
                                        <b>Sisa Pembayaran</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="SisaPembyran" readonly="readonly">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-2">
                                        <b>PPH 23</b>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="pph23" readonly="readonly">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                                <br />

                            </div>


                        </div>
                    </div>

                </form>

            </div>

            <div id="ButtonModal" class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>




@*Javascipt untuk datatable server side*@
<script type="text/javascript">

    $(document).ready(function () {

        $("#divLoader").hide();

        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["UrlApi"]';
        var ordid = $("#NoOrder").val();
        var ordnpt = $("#Perusahaan").val();
        var ordnpm = $("#Pemesan").val();
        var kondisi = $("#KondisiOrder").val();

        

        var pardt = new Object();
        pardt.ordid = ordid;
        pardt.ordnpt = ordnpt;
        pardt.ordnpm = ordnpm;
        pardt.kondisi = kondisi;

        var table = $("#example3").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true,
            "searching": false,
            "ordering": false,
            // this is for disable filter (search box)
            "ajax": {
                //url: url,
                url: "/MonitorOrder/GetDatatab?ordid=" + ordid + "&ordnpt=" + ordnpt + "&ordnpm=" + ordnpm + "&kondisi=" + kondisi,
                type: "POST",
                
                datatype: "json",
                
            },

            

            "columns": [

                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button>Pilih</button>"
                },
                { "data": "NoOrder", "name": "NoOrder", "autoWidth": true, },
                { "data": "NoItem", "name": "NoItem", "autoWidth": true },
                { "data": "Sts", "name": "Sts", "autoWidth": true },
                { "data": "Disc", "name": "Disc", "autoWidth": true },
                { "data": "Jenis", "name": "Jenis", "autoWidth": true },
                { "data": "Pool", "name": "Pool", "autoWidth": true },
                { "data": "KelTujuan", "name": "KelTujuan", "autoWidth": true },
                { "data": "AlamatJemput", "name": "AlamatJemput", "autoWidth": true },
                { "data": "TglJemput", "name": "TglJemput", "autoWidth": true },
                { "data": "JamJemput", "name": "JamJemput", "autoWidth": true },
                { "data": "TglSelesei", "name": "TglSelesei", "autoWidth": true },
                { "data": "JamSelesei", "name": "JamSelesei", "autoWidth": true },
                //{
                    
                //    "targets": -1,
                //    "data": null,
                //    "defaultContent": "<button>Click!</button>"
                //},
            ]

        });

        $('#example3 tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            //console.log(data);
            var bb = data[NoOrder];
            //console.log(bb);

            for (var aa in data) {
                if (aa == "NoOrder") {
                    var a1 = aa;
                    var a2 = data[aa];

                    //console.log(a1 + "," + a2);
                    //alert(aa + " = " + data[aa])

                    var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["UrlApi"]';
                    //alert(apiUrl);

                    var a = $.trim(a2);

                    $("#divLoader2").show();
                    $("#BodyModal").hide(); $("#JudulModal").hide(); $("#ButtonModal").hide();
                    $('#myModalPopup').modal('toggle');

                    var parmo = new Object();
                    parmo.ordid = a;

                    $.ajax({
                        //type: "GET",
                        type: "POST",
                        //url: apiUrl + "/Api/Orders?ordid=" + a + "&ordnpt=&ordnpm=&kondisi=",
                        url: '@Url.Action("GetDetail", "MonitorOrder")',
                        //url: "/MonitorOrder/GetDetail",
                        data: JSON.stringify(parmo),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        success: function (data) {
                            if (data.success) {
                                $('#myModalPopup').modal('hide');
                                swal("Error", "Tidak Mendapat Respon dari Server, Silahkan coba lagi", "error")
                            }
                            else {
                                //console.log(data);
                                $("#divLoader2").hide();
                                $.each(data, function (i, item) {

                                    if (item.JenisPembayaran == null) { document.getElementById("JenisPemby").value = ""; }
                                    else { document.getElementById("JenisPemby").value = item.JenisPembayaran; }

                                    if (item.LebihBayar == null) { document.getElementById("LbhBayar").value = ""; }
                                    else { document.getElementById("LbhBayar").value = item.LebihBayar; }

                                    if (item.BiayaBatal == null) { document.getElementById("BiayaPembatalan").value = ""; }
                                    else { document.getElementById("BiayaPembatalan").value = item.BiayaBatal; }

                                    if (item.TarifBus == null) { document.getElementById("TarifBus").value = ""; }
                                    else { document.getElementById("TarifBus").value = item.TarifBus; }

                                    if (item.Disc == null) { document.getElementById("Diskon").value = ""; }
                                    else { document.getElementById("Diskon").value = item.Disc; }

                                    if (item.RpDiskon == null) { document.getElementById("RpDiskon").value = ""; }
                                    else { document.getElementById("RpDiskon").value = item.RpDiskon; }

                                    if (item.TotalBayar == null) { document.getElementById("TotalPembayaran").value = ""; }
                                    else { document.getElementById("TotalPembayaran").value = item.TotalBayar; }

                                    if (item.SudahDibayar == null) { document.getElementById("SdhDibayar").value = ""; }
                                    else { document.getElementById("SdhDibayar").value = item.SudahDibayar; }

                                    if (item.SisaPembayaran == null) { document.getElementById("SisaPembyran").value = ""; }
                                    else { document.getElementById("SisaPembyran").value = item.SisaPembayaran; }

                                    if (item.Pph23 == null) { document.getElementById("pph23").value = ""; }
                                    else { document.getElementById("pph23").value = item.Pph23; }



                                });

                                $("#BodyModal").show(); $("#JudulModal").show(); $("#ButtonModal").show();
                            //$('#myModalPopup').modal('toggle');
                            }
                           
                        },
                        error: function (data) {
                            //alert("erorr");
                            $('#myModalPopup').modal('hide');
                            swal("Error", "Tidak Mendapat Respon dari Server, Silahkan coba lagi", "error")
                        }, //
                    });
                }
                
            }
            
        });
    });

    

    function get2(NoOrder) {

        alert(NoOrder);

        @*var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["UrlApi"]';
        //alert(apiUrl);

        var a = $.trim(NoOrder1);

        $("#divLoader2").show();
        $("#BodyModal").hide(); $("#JudulModal").hide(); $("#ButtonModal").hide();
        $('#myModalPopup').modal('toggle');

        $.ajax({
            type: "GET",
            url: apiUrl+"/Api/Orders?ordid=" + a + "&ordnpt=&ordnpm=&kondisi=",
            dataType: "json",

            success: function (data) {
                console.log(data);
                $("#divLoader2").hide();
                $.each(data, function (i, item) {

                    if (item.JenisPembayaran == null) { document.getElementById("JenisPemby").value = ""; }
                    else { document.getElementById("JenisPemby").value = item.JenisPembayaran; }

                    if (item.LebihBayar == null) { document.getElementById("LbhBayar").value = ""; }
                    else { document.getElementById("LbhBayar").value = item.LebihBayar; }

                    if (item.BiayaBatal == null) { document.getElementById("BiayaPembatalan").value = ""; }
                    else { document.getElementById("BiayaPembatalan").value = item.BiayaBatal; }

                    if (item.TarifBus == null) { document.getElementById("TarifBus").value = ""; }
                    else { document.getElementById("TarifBus").value = item.TarifBus; }

                    if (item.Disc == null) { document.getElementById("Diskon").value = ""; }
                    else { document.getElementById("Diskon").value = item.Disc; }

                    if (item.RpDiskon == null) { document.getElementById("RpDiskon").value = ""; }
                    else { document.getElementById("RpDiskon").value = item.RpDiskon; }

                    if (item.TotalBayar == null) { document.getElementById("TotalPembayaran").value = ""; }
                    else { document.getElementById("TotalPembayaran").value = item.TotalBayar; }

                    if (item.SudahDibayar == null) { document.getElementById("SdhDibayar").value = ""; }
                    else { document.getElementById("SdhDibayar").value = item.SudahDibayar; }

                    if (item.SisaPembayaran == null) { document.getElementById("SisaPembyran").value = ""; }
                    else { document.getElementById("SisaPembyran").value = item.SisaPembayaran; }

                    if (item.Pph23 == null) { document.getElementById("pph23").value = ""; }
                    else { document.getElementById("pph23").value = item.Pph23; }



                });

                $("#BodyModal").show(); $("#JudulModal").show(); $("#ButtonModal").show();
                //$('#myModalPopup').modal('toggle');
            },
            error: function (data) {
                //alert("erorr");
                $('#myModalPopup').modal('hide');
                swal("Error", "Tidak Mendapat Respon dari Server, Silahkan coba lagi", "error")
            }, //
        });*@

    }
</script>

@*Javascript untuk get data using popup*@
@*<script type="text/javascript">
    
</script>*@

